* {
    font-family: 'Lexend', sans-serif;
}

nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #101010;
    color: white;
    width: 100%;
    margin-bottom: 10px;
}

.logo img {
    height: 60px;
    width: auto;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.nav-links a:hover {
    background-color: #333;
}

footer {
    box-sizing: border-box;
    color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101010;
    position: fixed;
    bottom: 20px;
    width: 100%;
    margin-top: auto;
}

.footer-left a {
    margin-right: 20px;
}

.footer-left img {
    width: 40px;
    height: auto;
}

.footer-right a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    padding: 15px 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.footer-right a:hover {
    background-color: #333;
}